*{
    margin: 0;
    padding: 0;
    font-family: 'Times New Roman', Times, serif;
    box-sizing: border-box;
}

.header{
    width: 100%;
    height: 100vh;
    background: #000942;
    padding-left: 11%;
    padding-right: 8%;
    position: relative;
    
    background-image: url(images/photo.png);
    background-size: 30%;
    background-repeat: no-repeat;
    background-position: 92% 100%;
}

.top-nav{
    display: flex;
    align-content: center;
    justify-content: space-between;
    padding: 30px 0 15px;
    border-bottom: 1px solid chartreuse;
}

.top-nav ul li{
    list-style: none;
    display: inline-block;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-right: 30px;
}

.top-nav ul li a{
    text-decoration: none;
    color: white;
    font-size: 15px;
}

.top-nav button{
    background: red;
    color: white;
    border: 0;
    outline: 0;
    border-radius: 10px;
    padding: 10px 20px;
    cursor:  pointer;

}

.side-nav{
    position: fixed;
    background: red;
    left: 0;
    top: 0;
    width: 100px;
    height: 100vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    padding: 50px 0;
}

.text-box{
margin-top: 20%;
font-size: 10px;
color: white;
}

.text-box p{
    color: hsl(107, 100%, 50%);
    font-size: 50px;
}


.text-box h1{
    font-weight: 500;
    font-size: 86px;
    max-width: 550px;
    line-height: 95px;
    margin-top: 10px;
    margin-bottom: 30px;
}

.text-box button{
    background: red;
    color: white;
    border-radius: 10px;
    padding: 8px 15px;
    cursor: pointer;
}

